<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>L.S.D.M.</title>
    </head>
    <body>
        <div class="container">
            <h3>Titles in your personal Library</h3>
            {% if patron_books is not empty%}
            <ul>
                {% for book in patron_books%}
                    <a href="/books/{{book.getId}}"><li>{{book.getTitle}}</li></a>
                {% endfor%}
            {% else %}
                <p>
                    There are no books in library.
                </p>
            {% endif %}

            <h3>Checkout Books:</h3>

            <form action="/checkout_book/{{patron.getId}}" method="post">
                <label for="book">Choose a book:</label>
                <select id="book" name="book">
                    {% for book in books %}
                    <option value="{{book.getId()}}">{{book.getTitle}}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="button">Checkout Book</button>
            </form>
            <a href="/"><button>Home</button></a>
        </div>
    </body>
</html>
