<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>L.S.D.M.</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">
        <link rel="stylesheet" href="css/styles.css" type="text/css">
    </head>
    <body>
        <div class="container">
            <h3>Titles in your personal Library</h3>
            {% if patron_books is not empty%}
            <ul>
                {% for book in patron_books%}
                    <a href="/books/{{book.getId}}"><li>{{book.getTitle}} | due date: {{due_date}}</li></a>

                {% endfor%}

                <form action="/return_book/{{patron.getId}}" method="post">
                    <label for="book">Choose a book:</label>
                    <select id="book" name="book">
                        {% for book in patron_books %}
                        <option value="{{book.getId()}}">{{book.getTitle}}</option>
                        {% endfor %}
                    </select>
                    <button type="submit" name="button">Return Book</button>

                </form>
            {% else %}
                <p>
                    There are no books in library.
                </p>
            {% endif %}


            <h3>Checkout Books:</h3>

            <form action="/checkout_book/{{patron.getId}}" method="post">
                <label for="book">Choose a book:</label>
                <select id="book" name="book">
                    {% for book in books %}
                    <option value="{{book.getId()}}">{{book.getTitle}}</option>
                    {% endfor %}
                </select>
                <button type="submit" name="button">Checkout Book</button>
            </form>
            <a href="/"><button>Home</button></a>
        </div>
    </body>
</html>
